@model IEnumerable<NejakaMapa.Models.Udalost>

@{
    ViewBag.Title = "Points";
}

<h1 id="points">Points</h1>

<table>
    <tr><th>Name</th><th>Date</th><th>Lattitude</th><th>Longitude</th><th>Text</th></tr>
    @{

        foreach (var udalost in Model)
        {

        <tr><td>@udalost.Name</td><td>@udalost.Datum</td><td>@udalost.Pozice.Lat</td><td>@udalost.Pozice.Lng</td><td>@udalost.Poznamka</td></tr>

            }

        }

</table>
